.customers-section {
  padding: 50px 0 64px;
}

.feedback {
  display: flex;
  justify-content: space-between;
}

.opinion {
  width: calc((100% - 60px) / 3);
}

.opinion__text {
  position: relative;
  padding: 38px 24px 37px;
  margin-bottom: 66px;
  border-radius: 10px;
  background-color: #e2e2e2;

  color: #86878b;
  text-align: center;
  font-family: Raleway;
  font-size: 1.125rem;

  font-weight: 400;
  line-height: normal;
}

.opinion__text::after {
  display: block;
  content: "";
  position: absolute;
  top: 100%;
  left: 70px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #e2e2e2;
}

.opinion__author {
  display: flex;
  gap: 30px;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.name {
  padding: 10px 0;
  margin-bottom: 15px;

  color: #000;
  font-family: Open Sans;
  font-size: 1.5rem;

  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.position {
  color: #000;
  font-family: Raleway;
  font-size: 1.125rem;

  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1024px) {
  .customers-section {
    padding: 50px 0 59px;
  }

  .opinion {
    width: calc((100% - 40px) / 3);
  }

  .opinion__text {
    padding: 50px 34px;
    font-size: 0.875rem;
  }

  .opinion__text::after {
    left: 60px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 20px solid #e2e2e2;
  }

  .opinion__author {
    gap: 23px;
  }

  .avatar {
    width: 63px;
    height: 63px;
  }

  .name {
    padding: 5px 0;
    margin-bottom: 9px;
    font-size: 1.125rem;
  }

  .position {
    font-size: 0.875rem;
  }
}
