@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500;700&display=swap");

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  background: #fff;
}

.heading {
  padding: 54px 55px;
  margin-bottom: 40px;
  color: #000;

  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.heading::after {
  display: block;
  content: "";
  position: relative;
  top: 54px;
  margin: 0 auto;
  width: 170px;
  height: 1px;
  background: #ec7979;
}

.section__description {
  margin-bottom: 71px;
  color: #86878b;

  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
}

/* header */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  background-color: #000;
}

.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 87px;
}

.navigation {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.navigation__list {
  display: flex;
  max-width: 570px;
  width: 100%;
}

.navigation__item {
  flex: 1;
}

.navigation__link {
  display: block;
  color: #fff;
  padding: 28px 0;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.3s;
}

.navigation__item:hover {
  background: #ec7979;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.navigation__item:active {
  background: #ab4949;
}

/* banner */
.banner {
  position: relative;
  padding: 306px 15px 185px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.banner__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.trial-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 470px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
}

.trial-form__title {
  margin-bottom: 29px;
  padding: 29px 0;
  color: #333;
  text-align: center;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.trial-form__title--colored {
  color: #ec7979;
}

.trial-form__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}

.input {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  padding: 16px 0;
  margin-bottom: 17px;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input::placeholder {
  color: #bdbdbd;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.trial-form .input:last-of-type {
  margin-bottom: 75px;
}

.form-button {
  padding: 20px 0;
  border: none;
  border-radius: 0px 0px 10px 10px;
  background: #ec7979;

  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.3s;
}

.form-button:hover {
  background: #ab4949;
}

.form-button:active {
  background: #ec7979;
  box-shadow: 0px 0px 10px 0px #ab4949 inset;
}

.banner__block {
  padding-top: 29px;
}

.banner__logo {
  width: 170px;
  margin-bottom: 73px;
}

.main-heading {
  max-width: 670px;
  text-align: left;
  padding: 0;
  margin-bottom: 97px;
  color: #fff;
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-heading.heading::after {
  margin: 0;
  top: 55px;
  background: #fff;
}

.banner__description {
  color: #fff;
  text-align: left;
  margin-bottom: 42px;
  max-width: 270px;
}

.download {
  display: block;
  max-width: 270px;
  padding: 15px 90px;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.download:hover {
  border-color: #ec7979;
  color: #ec7979;
}

.download:active {
  border-color: #ab4949;
  color: #fff;
  background: #ab4949;
}

/* social media */
.social-media-section {
  background: #f8efef;
  padding: 18px 0;
}

.social-media-section__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media-section__content {
  max-width: 470px;
}

.social-media-section__title {
  margin-bottom: 32px;
  color: #333;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.social-media-section__description {
  color: #86878b;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* tabs section*/

.tabs {
  padding-top: 99px;
  margin-bottom: 50px;
}

.tabs__list {
  display: flex;
  margin-bottom: -1px;
}

.tabs__list-item button {
  padding: 8px;
  width: 184px;
  border: none;
  color: #333;

  text-align: center;
  font-family: Open Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.tabs__list-item--active {
  width: 203px;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #c6cbcd;
  border-bottom: none;

  background-color: #fff;
}

.tabs__content {
  border: 1px solid #c6cbcd;

  vertical-align: top;
  font-size: 0;
}

.tabs__content-description {
  display: inline-block;
  margin-right: 27.5px;
  padding: 0 0 54px 100px;

  vertical-align: top;
}

.tabs__content-title {
  margin-bottom: 27px;
  padding: 42px 0px;
  color: #000;

  font-family: Open Sans;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
}

.tabs__content-text {
  width: 570px;
  margin-bottom: 27px;

  color: #000;
  font-family: Raleway;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
}

.tabs__content-download {
  display: block;
  width: 270px;
  padding: 20px;
  color: #fff;
  border: none;

  text-align: center;
  font-family: Open Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  background: #ec7979;
  transition: 0.3s;
}

.tabs__content-download:hover {
  background: #ab4949;
}

.tabs__content-download:active {
  background: #ec7979;
  box-shadow: 0px 0px 10px 0px #ab4949 inset;
}

.tabs__content-image {
  display: inline-block;
  width: 470px;
}

/* aewsome section*/

.awesome-section {
  margin-bottom: 58px;
}

.cards-list {
  display: flex;
}

.cards-list__item {
  width: calc((100% - 60px) / 3);
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 78px 139px;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 1px solid #ec7979;
  text-align: center;
  vertical-align: bottom;
}

.item__name {
  margin-bottom: 8px;
  padding: 33px 0;
  color: #000;

  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}

.item__description {
  padding: 0 5px;
  color: #000;

  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* prices */

.prices-section {
  background: #f5f5f5;
  padding: 50px 0;
  margin-bottom: 50px;
}

.prices {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.section__description--for-prices {
  margin-bottom: 59px;
  padding: 0 40px;
}

.plan {
  position: relative;
  top: 0;
  width: calc((100% - 60px) / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.plan__title {
  width: 100%;
  background: #333;
  padding: 13px;
  border: 1px solid #f5f5f5;
  color: #fff;

  text-align: center;
  font-family: Open Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.plan__price {
  width: 100%;
  background: #333;
  padding: 29px 13px;
  border: 1px solid #f5f5f5;

  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.plan__short-description {
  width: 100%;
  background: #333;
  padding: 14px 13px;
  border: 1px solid #f5f5f5;
  color: rgba(255, 255, 255, 0.5);

  text-align: center;
  font-family: Raleway;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.plan__description {
  width: 100%;
}

.plan__description-item {
  width: 100%;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  border-left: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5;
  background: #fff;
  padding: 14px;
  color: #86878b;

  text-align: center;
  font-family: Raleway;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.plan:hover {
  top: -18px;
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

/* customers */

.feedback {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.opinion {
  width: calc((100% - 60px) / 3);
}

.opinion__text {
  position: relative;
  padding: 38px 24px 37px;
  margin-bottom: 66px;
  border-radius: 10px;
  background-color: #e2e2e2;

  color: #86878b;
  text-align: center;
  font-family: Raleway;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.opinion__text::after {
  display: block;
  content: "";
  position: relative;
  top: 56px;
  left: 32px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #e2e2e2;
}

.opinion__author {
  display: flex;
}

.avatar {
  margin-right: 30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.name {
  margin-bottom: 15px;

  color: #000;
  font-family: Open Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.position {
  color: #000;
  font-family: Raleway;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* style */
.style-section {
  padding: 50px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/style-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.style-section__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading--white {
  color: #fff;
}

.heading--white.heading::after {
  background: #fff;
}

.section__description--white {
  color: #fff;
}

.style-section__download {
  max-width: 370px;
}

/* footer */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 35px 0 27px;
  background-color: #000;
}

.footer__block {
  margin-bottom: 28px;
  display: flex;
  gap: 33px;
}

.footer__link {
  transition: 0.3s;
}

.footer__link:hover svg path {
  fill: #ec7979;
}

.facebook:hover {
  transform: scale(1.2);
}

.twitter:hover {
  transform: skew(15deg, 15deg);
}

.linkedin:hover {
  transform: translate(15px, 15px);
}

.pinterest:hover {
  transform: matrix(1.2, 0, 0, 1.2, 15, 15);
}

.instagram:hover {
  transform: rotate(180deg);
}

.github:hover {
  transform: translateX(15px);
}

.rss:hover {
  transform: rotate(-180deg);
}

.copyright {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* contact */
.contact {
  padding-bottom: 50px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-form__content {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}

.input:focus {
  outline: none;
}

.contact-form__block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.contact-form__input {
  padding: 0;
}

.contact-form__input:last-child {
  margin-bottom: 0;
}

.textarea-block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.contact-form__textarea {
  flex-grow: 1;
  width: 100%;
  border: none;
  border-bottom: 1px solid #BDBDBD;
}

.label {
  color: #bdbdbd;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-form__button {
   width: 370px;
   border-radius: 0;
}